@font-face{
    font-family: "TTLakes";
    src: url(TTLakes-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

.full-page{
    font-family: "TTLakes", sans-serif;
    background-color: #F8F8F8;
    display: flex;
    width: 60%;
    flex-direction: column;
    font-size: 16px;
    margin: auto;
}
.site-header{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.first-heading{    
    flex-grow: 3;
    font-size: 28px;
    font-weight: bold;
}
.first-heading::before{
    content: "";
    border-left: 3px solid #41F6D7;
    padding-right: 20px;
}
.nav-element, .header-element{
    text-decoration: none;
    color:#1B1C21;
}
.header-element:visited{
    color:#1B1C21;
}
.header-menu{
    margin-right: 15px;
    justify-content: flex-end;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.btn-request{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-request::after{
    margin-left: 8px;
    margin-right: -28px;
    display: flex;
    content: url(group.svg);
    width: 40px;
    height: 40px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    background-color: #FF3E79;
    border-radius: 50%;  
}
.btn-repair{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-repair::after{
    margin-left: 8px;
    margin-right: -15px;
    display: flex;
    content: url(icon.svg);
    width: 40px;
    height: 40px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    background-color: #FF3E79;
    border-radius: 50%;  
}
.header-btn{
    margin-right: 35px;
    margin-left: 35px;

}
.menu-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    height: 55px;
    flex-direction: row;
    height: 65px;
}
.list-element{
    padding: 0 10.5px 0 0;
    
}
.menu {
    justify-content: flex-start;   
    letter-spacing: -0.2px;
    height: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-top: 80px;
    margin-left: -15px;
}
.nav-element{ 
    color: #7E7E82;
    font-style: medium;
    line-height: 50px;
    margin: 0 -5px 15px -5px; 
    flex-basis: 0;
    border: 2px solid #F8F8F8;
    padding:  10px 20px ;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap
}
.nav-element:hover{
    border: 2px solid #B8FFEC ;
    background-color:#FFFFFF ;
}
main{
    margin-top: 10px;
    display: flex;
    flex-direction: row;  
}
.content{
    display: flex;
    margin-left: 20px;
    margin-top: -10px;
    flex-direction: column;
    width:450%;
}
.read-next{
    margin-left: 5px;
}
.read-next::before{
    content: url(next.svg);
    margin-right: 16px;
}
.btn-read-next{
    font-size: 16px;
    font-family: "TTLakes";
    border: none;
    outline: none;
    background-color: #F8F8F8;
}
.btn-read-next:hover{
    cursor: pointer;
}
.cps-img{
    width: 90%;
    height: 300px;
    margin-right: 20px;
    margin-left: 36px;
    margin-bottom: 15px;
    border-top-left-radius:  5px; 
}
